@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    margin: 0;
    padding: 0;
}

.navbar {
    padding: 2rem 0 2rem;
    display: flex;
}

.logo {
    display: flex;
    flex-direction: column;
    padding: 0 5rem;
    
}

.logo > p {
    margin: 0;
    padding: 0;

    justify-content: center;
    font-size: 26px;
    font-family: "Righteous", sans-serif;
}

.logo >img {
    width: 75px;
    object-fit: contain;
    padding-bottom:0;
}

.navlink {
    display: flex;
    margin-left: 3rem;
    padding-top: 1rem;
    padding-left:6rem;
    gap: 2rem;
    justify-content: center;
   
}

.navlink > p {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

.checkout {
    margin-left: 10rem;
    padding-top: 1rem;
}

.checkout > img{
    width: 40px;
    padding: 0 1rem;
}

.buttonlogin {
    padding: 5px 30px;
    margin-top: 1rem;
    font-size: 20px;
    border-radius: 20px;
    background-color: #FD7401;
    border: none;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: center;

}

.hero-container > img {
    width: 450px;
    margin-bottom: 2rem;


}

.text-content {
    display: flex;
    flex-direction: column;
    margin-left: 4rem;

}

.main-text{
    margin: 0!important;
    font-family: "Poppins", sans-serif;
}

.highlight-text {
    margin: 0!important;
    font-family: "Poppins", sans-serif;
    color: #FD7401;
}
.description {
    padding: 0;
    margin: 0!important;
    font-family: "Poppins", sans-serif;
}

.card-contain {
    padding-top: 3rem;
    display: flex;
    justify-content: center;
}

.card-contain > div {
    background-color: #241005;
    width: 172px;
    height: 213px;
    margin: 2rem;
    padding: 20px;
    font-size: 30px;
    border-radius: 30px;
}

.name{
    color: white;
    margin: 5rem 0 0.5rem 0 ;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

.price {
    color: white;
    padding-top: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

.imgrawon{
    position: absolute;
    z-index: 2;
    left: 10.6%;
}

.card-rawon {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    margin: 0;
}

.imgsoto{
    position: absolute;
    z-index: 2;
    left: 32.9%;
    margin-bottom: 2rem ;
}

.card-soto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgpecel{
    position: absolute;
    z-index: 2;
    left: 53%;
    margin-bottom: 2rem ;
}

.card-pecel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgrames{
    position: absolute;
    z-index: 2;
    left: 77.2%;
    margin-bottom: 2rem ;
}

.card-rames {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttoncart {
    background-color: #FD7401;
    border-radius: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    border: none;
    flex: none;
}

.slogan {
    margin-top: 5rem;
    height: 408px;
    width: 100%;
    background-color:#141414 ;
    display: flex;
}

.slogan > img {
    width: 392px;
    height: 355px;
    padding-right: 3rem;
}

.main-text-slogan {
    color: white;
    font-family: "Roboto Slab", serif;
    font-weight: 900;
    margin: 0;
    
}

.highlight-text-slogan {
    color: #FD7401;
    font-family: "Roboto Slab", serif;
    font-weight: 900;
    margin: 0;
}


.text-slogan {
    display: flex;
    flex-direction: column;
    margin: 6rem 4rem;
    font-size: large;
}

.text-slogan > p {
    color: white;
    font-family: "Poppins", sans-serif;
}

.more-menu {
    padding-bottom: 5rem;
}
.more-menu > h1 {
    margin-left: 4rem;
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    padding-top: 2rem;
}

.more-cardmenu {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 2rem;
}

.card-content-soto {
    width: 364px;
    height: 408px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-content-soto > img {
    width: 364px;
    height: 214px;
    border-radius: 25px 25px 0 0;
}

.card-content-soto > h3 {
    padding: 0 2rem;
}
.card-content-soto > p {
    padding: 0 2rem;
}

.pricesoto {
    display: flex;
    align-items: center;
    padding-left:2rem ;
    gap: 7rem;
}

.card-content-rawonsapi {
    width: 364px;
    height: 408px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-content-rawonsapi > img {
    width: 364px;
    height: 214px;
    border-radius: 25px 25px 0 0;
}

.card-content-rawonsapi > h3 {
    padding: 0 2rem;
}
.card-content-rawonsapi > p {
    padding: 0 2rem;
}

.pricerawon {
    display: flex;
    align-items: center;
    padding-left:2rem ;
    gap: 7rem;
}

.card-content-cendol {
    width: 364px;
    height: 408px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-content-cendol > img {
    width: 364px;
    height: 214px;
    border-radius: 25px 25px 0 0;
}

.card-content-cendol > h3 {
    padding: 0 2rem;
}
.card-content-cendol > p {
    padding: 0 2rem;
}

.pricecendol {
    display: flex;
    align-items: center;
    padding-left:2rem ;
    gap: 7rem;
}

.buttonmoremenu {
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    margin-left: 31.5rem;
    margin-top: 5rem;
    background-color: #FD7401;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
}